<!-- <table class="table">
  <thead >
    <tr>
      <th>MARKA</th>
    </tr>
  </thead>
  <td routerLink="/cars"
    [class]="getAllBrandClass()"
    (click)="brandIdChanges()"
  >Tüm Markalar</td>
  <tr *ngFor="let brand of brands">
    <td
    (click)="setCurrentBrand(brand)"
    [class]="getCurrentBrandClass(brand)"
    routerLink="/cars/brand/{{brand.brandId}}"
    >

    {{brand.brandName}}</td>
  </tr>
</table>
<h5 *ngIf="currentBrand" >{{currentBrand.brandName}} seçtiniz</h5> -->


<ul class="list-group">
  <li
  class="list-group-item text-center text-white bg-dark"
  (click)="brandIdChanges()"
  [class]="getAllBrandClass()" routerLink = "/cars">

      MARKALAR

  </li>

  <li
  class="list-group-item bg-light"
  (click) = "setCurrentBrand(brand)"
  routerLink = "/cars/brand/{{brand.brandId}}"
  *ngFor = "let brand of brands"
  [class] = "getCurrentBrandClass(brand)"
  class="form-check-label">

  {{brand.brandName}}

  </li>


</ul>



